@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #001e40;
  --color-secondary-container: #fdc003;
  --color-background: #f8f9fa;
  --color-on-background: #191c1d;
  --color-surface-container-lowest: #ffffff;
  --color-outline-variant: #c3c6d1;
  --font-headline-lg: "Manrope", sans-serif;
  --font-body-md: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  @apply bg-background text-on-background font-body-md;
}


/* bagian home/beranda */
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(80px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}


/* untuk halaman get in */
@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes spin-reverse {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

@keyframes pulse-slow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

.animate-spin-reverse {
  animation: spin-reverse 15s linear infinite;
}

.animate-pulse-slow {
  animation: pulse-slow 4s ease-in-out infinite;
}